.pageTitle {
	height: 60px;
	background-color: var(--primaryColor);
	display: flex;
	align-items: center;
	padding-left: 215px;
	line-height: 40px;
	color: #f6f5f9;
}

.title {
	font-weight: 700;
}

.separator {
	margin: 0 5px;
}

.subtitle {
	font-weight: 300;
}
