.sidebar__menu {
	width: 70px;
	height: calc(100vh - 40px - 60px);
	background-color: red;
	transition: width 0.25s ease-in, background-color 0.25s ease-in;
}

.sidebar__menu:hover {
	width: 215px;
	background-color: var(--primaryColor);
}

.sidebar__menu--active {
	width: 215px;
}

.sidebar__items {
	cursor: pointer;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-self: center;
	height: 100%;
}

.sidebar__items a {
	text-decoration: none;
	color: #fff;
}

.sidebar__toggle {
	font-size: 1.25em;
	color: var(--primaryColor);
	display: none;
}

.sidebar__link a {
	display: flex;
	justify-content: center;
	align-items: space-around;
}

.sidebar__link svg {
	height: 26px;
}
