.sidebar__menu {
	width: 215px;
	height: calc(100vh - 40px - 60px);
	background-color: #fff;
}

.sidebar__items {
	list-style: none;
}

.sidebar__items li {
	padding-top: 15px;
}

.link__group {
	text-decoration: none;
	color: var(--primaryColor);
	display: flex;
	justify-content: start;
	align-items: center;
}

.link__icon {
	width: 35px;
}

.link__title {
	margin-left: 10px;
	font-weight: bold;
}
