/* assssssssssssss */
.topNav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #fff;
	height: 40px;
	padding: 0 25px;
}

.topNav svg {
	width: 22px;
}

.topNav__toggle {
	display: none;
}
