@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--backgroundColor: #f7f7f9;
	--primaryColor: #0160a1;
}

body {
	font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
	background-color: var(--backgroundColor);
}
